@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container-fluid {
        padding: 60px 50px;
    }
</style>
<div class="container">
    <img src="~/loan-app-on-1.jpg" alt="Loan image" />
</div>
<div class="container">
    <div class="container-fluid">
        <h2>About Us</h2>
        <h4>Loan Management System</h4>
        <p>
            Loan Management System (LMS) is designed to be used by any individual for home
            loan, Vehicle loan or Education loan. It is an online system through which customer can
            view available services its benefits and other information related to loan.
        </p>        
    </div>

    <div class="container-fluid bg-grey">
        <h2>Our Services</h2>
        @*<h4><strong>Home Loan:</strong> </h4>

        <h4><strong>Education Loan:</strong> </h4>

        <h4><strong>Vehicle Loan:</strong> </h4>*@
        <div class="card-deck">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <p class="card-text">Home Loan</p>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center">
                    <p class="card-text">Education Loan</p>
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-center">
                    <p class="card-text">Vehicle Loan</p>
                </div>
            </div>
        </div>

    </div>
</div>
