@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container-fluid {
        padding: 60px 50px;
    }
</style>
<div class="container">
    <img src="~/loan-app-on-1.jpg" alt="Loan image" />
</div>
<div class="container">
    <div class="container-fluid">
        <h2>About Us</h2>
        <h4>Lorem ipsum..</h4>
        <p>Lorem ipsum..</p>        
    </div>

    <div class="container-fluid bg-grey">
        <h2>Our Services</h2>
        <h4><strong>Home Loan:</strong> Our mission lorem ipsum..</h4>
        <p><strong>Details:</strong> Our vision Lorem ipsum..
        <h4><strong>Education Loan:</strong> Our mission lorem ipsum..</h4>
        <p><strong>Details:</strong> Our vision Lorem ipsum..
        <h4><strong>Vehicle Loan:</strong> Our mission lorem ipsum..</h4>
        <p><strong>Details:</strong> Our vision Lorem ipsum..
    </div>
</div>
