
@{
    ViewData["Title"] = "GetCustomerEligibility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1> Customer Eligibility Criteria is : @ViewData["status"]</h1>
    <br />
    @Html.ActionLink("Back To Loan Processing", "LoanProcessing", new {  })
</div>


