
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Main Menu</h1>

<div>
    <a asp-area="" asp-controller="Employee" asp-action="ViewCustomer">View All Customers</a>
    <br />
    <hr />
    <a asp-area="" asp-controller="Employee" asp-action="LoanProcessing">Loan Processing</a>    
</div>